<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.server.digitalmanagementsystemforenterpriseaftersalesproblems.mapper.EmployeeMapper">
    <update id="updateEmployeePassword" parameterType="string">
        update `employee` set employee_password = #{employeePassword} where employee_email = #{employeeEmail}
    </update>
</mapper>